@import "tailwindcss";

:root {
  --background: #F5F5F3;
  --foreground: #212121;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #8D6E63;
  --color-secondary: #D7CCC8;
  --color-accent: #A1887F;
  --color-stone: #F5F5F3;
  --font-sans: var(--font-jakarta);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
